*,
body,
input {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}
body {
 background-color: beige;
}
main {
 height: 50%;
 display: flex;
 justify-content: center;
 align-items: center;
 font-family: "Indie Flower", cursive;
}
